{{#if isSecondary}}
  {{! Secondary menu}}
  <ul>
    {{#foreach navigation}}
      <li class="mr-6 {{concat 'nav-' slug}}">
        <a href="{{url absolute="true"}}" class="{{link_class for=(url) activeClass='underline'}}" >
          {{{label}}}
        </a>
      </li>
    {{/foreach}}
  </ul>
{{else}}
  {{! Primary menu }}

  <button id="nav-btn" aria-label="Toggle navigation menu" aria-expanded="false" aria-controls="navigation" class="
    hidden xl:hidden
    absolute top-3 right-3
    p-2 z-51
    rounded-md cursor-pointer
    [&_svg]:w-7 [&_svg]:h-7
  ">
    {{!--
      transition-colors
      hover:bg-gray-200 dark:hover:bg-gray-700
      focus:outline-none focus:ring-2 focus:ring-blue-500
    --}}
    <span id="open-icon">
      {{> "icons/hamburger" }}
    </span>
    <span id="close-icon" class="hidden">
      {{> "icons/close"}}
    </span>
  </button>

      <!-- hidden xl:block -->
  <nav id="navigation"
    role="navigation"
    class="
      font-display text-2xl
      text-center md:text-left xl:text-left
      pt-8
      w-full h-full
      z-50
  ">
  {{!--
      transition-translate
      duration-300 ease-out
      transform
  --}}
    {{! Close menu }}

    <ul class="flex flex-col gap-3">
      {{#foreach navigation}}
        <li class="{{concat 'nav-' slug}}">
          <a
            href="{{url absolute="true"}}"
            class="{{link_class for=(url) activeClass="underline"}}"
          >
            <!-- class="{{link_class for=(url) activeClass="underline"}}" -->
            <!-- <mark>{{label}}</mark> -->
            {{label}}
          </a>
        </li>
      {{/foreach}}
      <li>
        {{#if @site.members_enabled}}
          {{^if @member}}
            <a class="" href="{{@site.signup_url}}">Subscribe</a>
          {{else}}
            <a class="" href="#/portal/account">Account</a>
          {{/if}}
        {{/if}}
      </li>
      <li>
        <ul class="flex gap-2 justify-center xl:justify-start">
          <li>
            <search>
              {{search}}
            </search>
          </li>
          <li>
            <a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener">
              <span class="inline-block -translate-y-1">
                {{> "icons/rss"}}
              </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    {{! Socials }}
    <ul class="mt-16 xl:mt-30 flex gap-4 justify-center xl:justify-start [&_svg]:h-6 [&_svg]:w-6">
      <li>
        <a href="https://github.com/christopher-b/" rel="noopener nofollow" target="_blank">
          {{> "icons/github"}}
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/christopher-bennell/" rel="noopener nofollow" target="_blank">
          {{> "icons/linkedin"}}
        </a>
      </li>
      <li>
        <a href="https://bsky.app/profile/cbennell.com" rel="noopener nofollow" target="_blank">
          {{> "icons/bsky"}}
        </a>
      </li>
      <li>
        <a href="mailto:cbennell@hey.com" rel="noopener nofollow">
          {{> "icons/email"}}
        </a>
      </li>
      <li>
        <a href="{{asset "files/christopher_bennell_resume.pdf"}}" rel="noopener nofollow" target="_blank">
          {{> "icons/file"}}
        </a>
      </li>
    </ul>
   </nav>
{{/if}}