{{#if isSecondary}}
  {{! Secondary menu}}
  <ul>
    {{#foreach navigation}}
      <li class="{{concat 'nav-' slug}}">
        <a href="{{url absolute="true"}}" class="{{link_class for=(url) activeClass='underline'}}" >
          {{{label}}}
        </a>
      </li>
    {{/foreach}}
  </ul>
{{else}}
  {{! Primary menu }}
  <nav aria-label="Primary">
    <ul>
      {{#foreach navigation}}
        <li class="{{concat 'nav-' slug}}">
          <a href="{{url absolute="true"}}" class="{{link_class for=(url) activeClass="underline"}}">
            {{label}}
          </a>
        </li>
      {{/foreach}}
      <li>
        {{#if @site.members_enabled}}
          {{^if @member}}
            <a href="{{@site.signup_url}}">Subscribe</a>
          {{else}}
            <a href="#/portal/account">Account</a>
          {{/if}}
        {{/if}}
      </li>
      <li>
        <ul class="nav-extras">
          <li>
            <search>
              <button data-ghost-search aria-label="Search site">
                {{> "icons/search"}}
              </button>
            </search>
          </li>
          <li>
            <a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="Subscribe to RSS feed" aria-label="Subscribe to RSS feed (opens in new tab)" target="_blank" rel="noopener">
              <span>
                {{> "icons/rss"}}
              </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    {{! Socials }}
    <ul class="nav-extras">
      <li>
        <a href="https://github.com/christopher-b/" rel="noopener nofollow" target="_blank" aria-label="GitHub">
          {{> "icons/github"}}
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/christopher-bennell/" rel="noopener nofollow" target="_blank" aria-label="LinkedIn">
          {{> "icons/linkedin"}}
        </a>
      </li>
      <li>
        <a href="https://bsky.app/profile/cbennell.com" rel="noopener nofollow" target="_blank" aria-label="BlueSky">
          {{> "icons/bsky"}}
        </a>
      </li>
      <li>
        <a href="mailto:cbennell@hey.com" rel="noopener nofollow" aria-label="Email">
          {{> "icons/email"}}
        </a>
      </li>
      <li>
        <a href="{{asset "files/christopher_bennell_resume.pdf"}}" rel="noopener nofollow" target="_blank" aria-label="Resume (PDF)">
          {{> "icons/file"}}
        </a>
      </li>
    </ul>
   </nav>
{{/if}}