{{!< default}}

{{#author}}
<article>
  <header>
    {{#if profile_image}}
      <img src="{{profile_image}}" alt="{{name}}" />
    {{/if}}

    <h1>{{name}}</h1>

    {{#if bio}}
      <content>
        {{bio}}
      </content>
    {{/if}}

    {{!--
    {{#if website}}
      <a href="{{website}}" target="_blank" rel="noopener">Website</a>
    {{/if}}
    {{#if twitter}}
      <a href="{{social_url type="twitter"}}" target="_blank" rel="noopener">Twitter</a>
    {{/if}}
    {{#if facebook}}
      <a href="{{social_url type="facebook"}}" target="_blank" rel="noopener">Facebook</a>
    {{/if}}
    {{#if bluesky}}
      <a href="{{social_url type="bluesky"}}" target="_blank" rel="noopener">Bluesky</a>
    {{/if}}
    --}}

    {{#if cover_image}}
      <img src="{{cover_image}}" alt="{{name}}" />
    {{/if}}
  </header>
</article>
{{/author}}

{{!--
<h2>Posts by this author</h2>
<article-list>
<div class="article-list">
{{#foreach posts}}
  {{> "components/card"}}
{{/foreach}}
</article-list>
--}}