<!DOCTYPE html>
<html lang="{{@site.locale}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{#unless @custom.development_mode}}
      {{> "vite_assets/head"}}
    {{/unless}}

    <title>{{ meta_title }}</title>

    {{ ghost_head }}

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>
  <body class="{{ body_class }}">
    <header>
      {{> components/masthead}}
      {{ navigation }}
    </header>

    <main>
      {{{ body }}}
   </main>

    {{> components/footer }}


    {{#if @custom.development_mode}}
      <script type="module" src="http://localhost:5173/@vite/client"></script>
      <script type="module" src="http://localhost:5173{{asset 'js/index.js'}}"></script>
    {{else}}
      {{> vite_assets/foot }}
    {{/if}}

    {{ ghost_foot }}
  </body>
</html>