<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{#unless @custom.development_mode}}
    {{> "vite_assets/head"}}
  {{/unless}}

  <title>{{meta_title}}</title>

  {{ghost_head}}
</head>
<body class="{{body_class}} font-body min-h-screen flex flex-col bg-neutral-light text-neutral-cdark">
  <div class="flex py-16">
    <div id="sidebar" class="w-108 border-r border-neutral-med px-16 ">
      {{> "components/sidebar"}}
    </div>

    <main class="flex-1 max-w-4xl px-16">
      <h2 class="text-6xl">Error: {{statusCode}}</h2>
      <p class="my-3 text-2xl italic">&ldquo;{{message}}&rdquo;</p>
      <p><a href="{{@site.url}}">Return home →</a></p>

      {{#if errorDetails}}
      <section>
        <h3 class="text-lg">Theme errors:</h3>
        <ul>
          {{#foreach errorDetails}}
          <li>
            <h4 class="gh-error-stack-function">{{{rule}}}</h4>

            {{#foreach failures}}
              <span><strong>Ref:</strong> {{ref}}</span><br>
              <span><strong>Message:</strong> {{message}}</span>
            {{/foreach}}
          </li>
          {{/foreach}}
        </ul>
      </section>
      {{/if}}
    </main>
  </div>

  <!-- Footer -->
  {{> "components/footer"}}

  {{#if @custom.development_mode}}
    {{! In dev, Vite injects CSS/JS via HMR }}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173{{asset "js/index.js"}}"></script>
    <!-- <script type="module" src="http://localhost:5173{{asset "css/index.css"}}"></script> -->
  {{else}}
    {{> "vite_assets/foot"}}
  {{/if}}

  {{ghost_foot}}
</body>
</html>