<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{#unless @custom.development_mode}}
        {{> "vite-assets/head"}}
    {{/unless}}

    <title>{{meta_title}}</title>

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="flex flex-col min-h-screen bg-white">
        {{> "components/header"}}

        <main class="flex flex-col grow shrink-0 basis-auto">
            <section class="gh-page gh-error">
                <div class="gh-container">
                    <section class="gh-error-content">

                        <h1 class="gh-error-code">{{statusCode}}</h1>
                        <p class="gh-error-description">{{message}}</p>
                        <p class="gh-error-link"><a href="{{@site.url}}">Go to the front page →</a></p>

                        {{#if errorDetails}}
                        <section class="gh-error-stack">
                            <h4>Theme errors:</h4>
                            <ul class="gh-error-stack-list">
                                {{#foreach errorDetails}}
                                <li>
                                    <h5 class="gh-error-stack-function">{{{rule}}}</h5>

                                    {{#foreach failures}}
                                    <span class="gh-error-stack-file"><strong>Ref:</strong> {{ref}}</span><br>
                                    <span class="gh-error-stack-file"><strong>Message:</strong> {{message}}</span>
                                    {{/foreach}}
                                </li>
                                {{/foreach}}
                            </ul>
                        </section>
                        {{/if}}

                    </section>
                </div>
            </section>
        </main>

        {{> "components/footer"}}
    </div>

    {{#if @custom.development_mode}}
        {{! In dev, Vite injects CSS/JS via HMR }}
        <script type="module">import "http://localhost:3000/@vite/client";</script>
        <script type="module" src="http://localhost:3000/assets/js/index.js"></script>
    {{else}}
        {{> "vite-assets/foot"}}
    {{/if}}

    {{ghost_foot}}
</body>
</html>