{{!< default}}

{{#post}}
<article class="{{ post_class }}">
  <header>
    <h1>{{ title }}</h1>
    {{> components/post-meta }}
    {{> components/feature-image }}
  </header>

  <content>{{ content }}</content>

  <footer>
    <nav aria-label="Next / previous posts">
      <ul>
        <li>
          {{#prev_post}}
          {{> "icons/arrow-left"}}
          Previous:
          <a href="{{ url }}" rel="prev">{{ title }}</a>
          {{/prev_post}}
        </li>
        <li>
          {{#next_post}}
          Next:
          <a href="{{ url }}" rel="next">{{ title }}</a>
          {{> "icons/arrow-right"}}
          {{/next_post}}
        </li>
      </ul>
    </nav>

    {{#if comments}}
    <aside comments>
      {{comments title="Comments" mode="auto"}}
    </aside>
    {{/if}}
  </footer>
</article>

{{/post}}