{{!< default}}

{{#post}}
<article class="{{ post_class }}">
  <header>
    <h1>{{ title }}</h1>

    <div class="post-meta">
      <time datetime="{{date format='YYYY-MM-DD'}}">
        {{date format="DD MMM YYYY"}}
      </time>
      <span>&bull;</span>
      {{ reading_time }}

      {{! tags separator=" • "}}
      {{#if tags}}
      <ul class="tags">
        {{#foreach tags}}
        <li>
          <a href="{{ url }}" title="{{ name }}" class="tag tag-{{ id }} {{ slug }}" rel="tag">
            {{ name }}
          </a>
        </li>
        {{/foreach}}
      </ul>
      {{/if}}
    </div>

    {{> "components/feature-image" feature_image=feature_image }}
  </header>

  <div class="content">
    {{ content }}
  </div>

  <footer>
    <nav aria-label="Next / previous posts">
      <span>
        {{#next_post}}
        {{> "icons/arrow-left"}}
        <a href="{{ url }}" rel="next">{{ title }}</a>
        {{/next_post}}
      </span>

      <span>
        {{#prev_post}}
        <a href="{{ url }}" rel="prev">{{ title }}</a>
        {{> "icons/arrow-right"}}
        {{/prev_post}}
      </span>
    </nav>

    {{#if comments mode="auto"}}
    <aside class="comments">
      {{! We supply the color as hex due to https://github.com/TryGhost/Ghost/issues/24906}}
      {{ comments mode="dark"}}
    </aside>
    {{/if}}
  </footer>
</article>

{{/post}}
