{{!< default}}

{{#post}}

<article class="{{post_class}} px-12 w-3xl">
  <header class="gh-header gh-canvas">
    <p class="italic my-3">
      <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
      <span>&bull;</span>
      {{reading_time}}
      <span>&bull;</span>
      Written by {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}}
    </p>

    <div class="my-3">
      {{tags separator=" • "}}
    </div>

    <h2 class="text-xl mb-3">{{title}}</h1>

    {{#if custom_excerpt}}
      <p class="my-6">{{custom_excerpt}}</p>
    {{/if}}

    {{#if feature_image}}
    <figure class="my-6">
      <picture>
        <source
          srcset="
          {{img_url feature_image size="xxs" format="avif"}} 30w,
          {{img_url feature_image size="xs" format="avif"}} 100w,
          {{img_url feature_image size="s" format="avif"}} 300w,
          {{img_url feature_image size="m" format="avif"}} 600w,
          {{img_url feature_image size="l" format="avif"}} 1200w,
          {{img_url feature_image size="xl" format="avif"}} 2000w"
          sizes="(min-width: 1200px) 1200px, 90vw"
          type="image/avif"
        >
        <source
          srcset="
          {{img_url feature_image size="xxs" format="webp"}} 30w,
          {{img_url feature_image size="xs" format="webp"}} 100w,
          {{img_url feature_image size="s" format="webp"}} 300w,
          {{img_url feature_image size="m" format="webp"}} 600w,
          {{img_url feature_image size="l" format="webp"}} 1200w,
          {{img_url feature_image size="xl" format="webp"}} 2000w"
          sizes="(min-width: 1200px) 1200px, 90vw"
          type="image/webp"
        >
        <img
          srcset="
          {{img_url feature_image size="xxs"}} 30w,
          {{img_url feature_image size="xs"}} 100w,
          {{img_url feature_image size="s"}} 300w,
          {{img_url feature_image size="m"}} 600w,
          {{img_url feature_image size="l"}} 1200w,
          {{img_url feature_image size="xl"}} 2000w"
          sizes="(min-width: 1200px) 1200px, 90vw"
          src="{{img_url feature_image size="l"}}"
          alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
        >
      </picture>
      {{#if feature_image_caption}}
        <figcaption class="text-sm italic pt-1">{{feature_image_caption}}</figcaption>
      {{/if}}
    </figure>
    {{/if}}
  </header>

  {{! The "prose" class provides default formatting for CMS content: https://github.com/tailwindlabs/tailwindcss-typography}}
  {{! line-numbers add line numbers to code blocks, via the Prism plugin}}
  <div class="prose line-numbers">
    {{content}}
  </div>

  <footer class="my-6">
    {{#if comments}}
    <section class="my-6">
      {{comments}}
    </section>
    {{/if}}
  </footer>
</article>

<aside class="px-12 mb-6 w-3xl flex gap-4">
  <div class="flex-1">
    {{#next_post}}
      <a href="{{url}}" class="inline-flex items-center">
        <span class="mx-3 w-2 h-2">
          {{> "icons/arrow-left"}}
        </span>
        <h4>{{title}}</h4>
      </a>
    {{/next_post}}
  </div>
  <div class="flex-1 text-right">
    {{#prev_post}}
      <a href="{{url}}" class="inline-flex items-center">
        <h4>{{title}}</h4>
        <span class="w-2 h-2 mx-3">
          {{> "icons/arrow-right"}}
        </span>
     </a>
    {{/prev_post}}
  </div>
</aside>

{{/post}}