<article class="{{ post_class }}">
  {{!> "components/feature-image" feature_image=feature_image }}
  <p class="post-meta">
    <time datetime="{{date format='YYYY-MM-DD'}}">
      {{date format="DD MMM YYYY"}}
    </time>
    <span>&bull;</span>
    {{ reading_time }}
  </p>
  <h2>
    <a href="{{ url }}">
      {{ title }}
    </a>
  </h2>
  <p class="post-except">
    {{ excerpt }}
  </p>
</article>
