<article card class="{{ post_class }}" aria-labelledby="post-header-{{ id }}">
  {{> components/post-meta tags=false }}

  <h2 id="post-header-{{ id }}">
    <a href="{{ url }}">
      {{ title }}
    </a>
  </h2>

  <excerpt>{{ excerpt }}</excerpt>
</article>
