<header class="border">
  <nav>
    <div>
      <a href="{{@site.url}}">
        {{#if @site.logo}}
          <img src="{{@site.logo}}" alt="{{@site.title}}" />
        {{else}}
          <h1 class="text-2xl">{{@site.title}}</h1>
          <p>{{@site.description}}</p>
        {{/if}}
      </a>
    </div>

    <!-- Mobile menu button -->
    <button
      id="mobile-menu-btn"
      class="md:hidden p-2 rounded-md transition-colors cursor-pointer"
    >
      {{> "icons/hamburger" }}
    </button>
  </nav>
</header>