<header class="text-center md:text-start flex flex-col gap-4 md:gap-8" >
  <a class="flex flex-col mx-auto md:mx-0 md:flex-row gap-4 items-center" href="{{@site.url}}">
    {{#if @site.logo}}
      <img
        class="rounded-full border-accent-med border-1 w-24 h-24"
        src="{{@site.logo}}"
        alt="{{@site.title}}"
      />
    {{/if}}

    <h1 class="text-4xl/11 font-display font-normal">
      {{@site.title}}
    </h1>
  </a>

  <p class="text-lg font-light font-display">{{{@site.description}}}</p>
</header>