<header>
  <!-- Close button for mobile -->
  <!--
  <div class="md:hidden mt-3 mr-3 text-right">
    <button id="close-nav-btn" class="p-2 rounded-md hover:bg-gray-100">
      {{> "icons/close"}}
    </button>
  </div>
  <button
    id="mobile-menu-btn"
    class="md:hidden p-2 rounded-md transition-colors cursor-pointer"
  >
    {{> "icons/hamburger" }}
  </button>
  -->

  <a class="flex gap-4" href="{{@site.url}}">
    {{#if @site.logo}}
      <img
        class="rounded-full border-accent-med border-1 w-20 h-20"
        src="{{@site.logo}}"
        alt="{{@site.title}}"
      />
    {{/if}}

    <h1 class="text-4xl/11 font-display font-normal">
      {{@site.title}}
    </h1>
  </a>

  <p class="mt-8 text-lg font-light font-display">{{{@site.description}}}</p>
</header>